@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
   height: 100%;
}

body {
   background-color: #F5F5F5;
   font-family: 'Montserrat', sans-serif;
}

.app-wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
}

.app-wrapper__header {
   font-size: 20px;
   text-align: center;
   height: 50px;
   margin-bottom: 20px;
   border-radius: 0px 0px 10px 10px;
}

.app-wrapper__content {
   margin-bottom: 20px;
   padding: 20px;
   border-radius: 10px;
   flex: 1 1 auto;
}

.app-wrapper__footer {
   border-radius: 10px 10px 0px 0px;
   height: 50px;
   position: sticky;
   bottom: 0;
}

.news__item {
   margin: 0 auto;
   text-align: center;
   margin-bottom: 50px;
}

.news__title {
   font-size: 20px;
}

.news__content {
   font-size: 16px;
}

.news__date {
   margin-top: 10px;
   font-size: 12px;
}

.buttons {
   display: flex;
   flex-direction: column;
   width: 200px;
   justify-content: center;
   margin: 0 auto;
}

.buttons__theme {
   margin-bottom: 20px;
   height: 50px;
   border-radius: 10px;
   background-color: #00FF80;
}

.Nevigation {
   margin-top: 15px;
   display: flex;
   justify-content: space-around;
}

.link {
   text-decoration: none;
   color: red
}